html,
body {
  height: 100%;
  font-family: 'Syncopate', sans-serif;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-family: 'Scope One', serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

h1 {
  font-size: 1.2rem;
  font-weight: normal;
  padding-top: 1em;
  color: #696969;
}

h2 {
  font-size: 1.8rem;
  padding-top: 0.8em;
}

h3 {
  font-size: 1.2rem;
  padding-top: 0.8em;
}

h5 {
  font-size: 1rem;
  padding-top: 0.8em;
}

hr {
  max-width: 100px;
  height: 2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: auto;
}

p {
  color: #696969;
}

hr.colored {
  border-color: #EF4035;
}

i {
  color: #667292;
}

a {
  color: #667292;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover, a:focus {
  color: #667292;
  font-weight: bold;
  text-decoration: none;
}

section.page-section {
  padding: 100px 0;
}

header.masthead {
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
  background-color: #222;
  background-size: cover;
  background-attachment: scroll;
}

header.masthead .masthead-title {
  font-size: 1.7rem;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
}

h4.masthead-title2 {
  font-size: 1rem;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  margin-right: 0.5rem;
}

header.masthead .masthead-subtitle {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

header.masthead .scroll-down {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

header.masthead .scroll-down .btn {
  font-size: 30px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header.masthead .scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5) !important;
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}

header.masthead .scroll-down .btn:active, header.masthead .scroll-down .btn:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5) !important;
}

footer.footer {
  padding: 50px 0 20px;
  color: rgba(255, 255, 255, 0.7);
  background-color: #667292;
  background-size: cover;
  background-attachment: scroll;
}

footer.footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer.footer a:hover {
  color: white;
}

footer.footer p {
  font-size: 1rem;;
}

footer.footer .copyright {
  font-size: 0.6rem;
}

button:hover {
  cursor: pointer;
}

#profilepic {
  opacity: 0.7;
}

#mainNav {
  background-color: #667292;
}

#mainNav .navbar-toggler {
  padding: 15px;
  color: white;
  font-size: 14px;
}

#mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
  color: #222;
  background-color: white;
}

#mainNav .navbar-brand {
  color: white;
  font-size: 0.9rem;
  line-height: 44px;
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

#mainNav .navbar-brand img {
  height: 40px;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
  color:  #e0e2e4;
}

.info {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #667292;
  border: 1px solid #ffff;
  background-color: transparent;
  padding: .375rem .75rem;
  font-size: 0.7em;
}

.info:active, .info:focus, .info:hover {
  border-color: white !important;
  background-color: white !important;
}

.profile {
  font-size: 0.8em;
}

.white {
  color: #fff;
}

.call-to-action span.quote {
  font-size:1em;;
  font-weight: 300;
  display: block;
  background: rgba(255, 255, 255, 0.6);
  color: black;
}

.call-to-action {
  padding: 30px 0;
  text-align: center;
  background-color: #222;
  background-size: cover;
  background-attachment: scroll;
}

.portfolio-grid .mix {
  float: left;
  overflow: hidden;
  width: 48%;
  margin: 1%;
}

.portfolio-grid .mix .portfolio-wrapper {
  position: relative !important;
  overflow: hidden;
  cursor: pointer;
  background: #ecebef;
}

.portfolio-grid .mix .portfolio-wrapper img {
  position: relative;
  max-width: 100%;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-grid .mix .portfolio-wrapper img:hover {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.portfolio-grid .mix .portfolio-wrapper .caption {
  position: sticky;
  bottom: -75px;
  width: 100%;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text {
  position: relative;
  z-index: 500;
  padding: 15px 8px;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text p.text-title {
  color: #696969;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.portfolio-grid .mix .portfolio-wrapper .caption .caption-text .text-category {
  font-size: 0.8em;
  color: #cc0000;
  display: block;
}

.portfolio-grid .mix:hover .portfolio-wrapper .caption {
  bottom: 0;
}

.btn-full-width {
  font-size: 26px;
  font-weight: 200;
  padding: 50px 0;
  letter-spacing: normal;
  text-transform: none;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: #222;
}

.btn-full-width:hover {
  color: white;
  background-color: #EF4035;
}

.btn-full-width:focus {
  color: white;
}

.text-primary {
  color: #cc0000 !important;
}

a.text-primary {
  color: #EF4035 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #c81b10 !important;
}

.bg-inverse {
  background-color: #222 !important;
}

.btn {
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 0.8em;
  color: #667292;
}

.btn-primary {
  border: 1px solid #ffff;
  background-color: transparent;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #667292 !important;
  border-color: white !important;
  background-color: white !important;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5) !important;
}

.btn-secondary {
  border: 1px solid #667292;
  background-color: transparent;
  color: #667292;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  color: white !important;
  background-color: #667292 !important;
}

.btn-secondary:active, .btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
  box-shadow: 0 0 0 3px rgba(239, 64, 53, 0.5) !important;
}

/* -------------------@media query------------------------- */

@media (min-width: 576px) {
  .profile {
    font-size: 0.8em;
  }

  h1 {
    padding-top: 0;
  }

  .portfolio-grid .mix .portfolio-wrapper .caption .caption-text .text-category {
    font-size: 1em;
  }
}


@media (min-width: 768px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 2.2rem;
    padding-top: 0;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  section.page-section {
    padding: 30px 0;
  }

  footer.footer .footer-contact-details {
    padding-left: 0;
    padding-right: 0;
  }

  .portfolio-grid .mix {
    width: 48%;
    margin: 1%;
  }

  .info {
    font-size: 1em;
  }

  .btn {
    letter-spacing: 1px;
    font-size: 0.85em;
  }

  .portfolio-grid .mix .portfolio-wrapper .caption .caption-text p.text-title {
    font-size: 1em;
  }

  .portfolio-grid .mix .portfolio-wrapper .caption .caption-text .text-category {
    font-size: 1.1em;
  }

  .call-to-action {
    padding: 30px 0;
  }

  .call-to-action span.quote {
    font-size: 1.5em;
    line-height: 38px;
  }

}

@media (max-width: 767px) {
  section.page-section {
    padding: 30px 0;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

}

@media (min-width: 992px) {
  #profile {
    font-size: 2rem;
  }

  #mainNav {
    height: auto;
    padding: 30px 0;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }

  #mainNav.navbar-shrink {
    padding: 5px 0;
    background-color: #667292;
  }

  #mainNav .navbar-brand {
    font-size: 26px;
    line-height: 50px;
  }

  #mainNav .navbar-brand img {
    height: 46px;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item {
    margin-right: 5px;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item:last-child {
    margin-right: 0;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
    padding: 15px;
    font-size: 1em;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
    color: #EF4035;
    border-radius: 0;
    border-radius: 5px;
    background-color: white;
  }

  hr {
    max-width: 50%;
    height: 3px;
  }

  header.masthead {
    height: 100vh;
    min-height: 700px;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.masthead .masthead-title {
    font-size: 4rem;
    line-height: 5rem;
  }

  h4.masthead-title2 {
    font-size: 1.5rem;
  }

  .profile {
    font-size: 1.2em;
  }

  .call-to-action {
    padding: 100px 0;
  }

  .call-to-action span.quote {
    font-size: 2em;
    line-height: 42px;
  }

}

@media (min-width: 1024px) {
  header.masthead {
    background-attachment: fixed;
  }

  footer.footer {
    background-attachment: fixed;
  }

  footer.footer p {
    font-size: 1.4em;
  }

  footer.footer .copyright {
    font-size: 1rem;
  }

  p {
    font-size: 1.2em;
  }

  .call-to-action {
    background-attachment: fixed;
  }

  .portfolio-grid .mix .portfolio-wrapper .caption .caption-text .text-category {
    font-size: 1.25em;
  }

  .portfolio-grid .mix .portfolio-wrapper .caption .caption-text p.text-title {
    font-size: 1.2em;
  }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  footer.footer {
    background-attachment: scroll;
  }

  header.masthead {
    background-attachment: scroll;
  }

  .call-to-action {
    background-attachment: scroll;
  }
}
